<main>
    <h1>Account Management</h1>
      <% if (typeof message !== "undefined") { %>
        <p class="flash-message"><%= message %></p>
      <% } %>
    
    
        <p>You're logged in</p>
    
    
  </main>
    