<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="container">
    <section id="hero-car">
        <ul>
            <li>
                <h2>DMC Delorean</h2>
                <h3>3 Cup holders</h3>
                <h3>Superman Doors</h3>
                <h3>Fuzzy Dice!</h3>
                <button>Own Today</button>
            </li>
        </ul>
    </section>
</div>
<div class="bottom-container">
    <section id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="link-container">
            <div class="upgrade-item">
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <a href="/" title="Info">Flux Capacitor</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <a href="/" title="Info">Flame Decals</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <a href="/" title="Info">Bumper Stickers</a>
            </div>
            <div class="upgrade-item">
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <a href="/" title="Info">Hub Caps</a>
            </div>
        </div>
    </section>
    
    <section id="reviews">
        <h2>Delorean Reviews</h2>
        <div class="review-container">
            <ul>
                <li>
                    <h4>"So fast it's almost like traveling in time". (4/5)</h4>
                    <h4>"Coolest ride on the road." (4/5)</h4>
                    <h4>"I'm feeling McFly!"(5/5)</h4>
                    <h4>"The most futuristic ride of our day." (4.5/5)</h4>
                    <h4>"80's livin and I love it!" (5/5)</h4>
                </li>
            </ul>
        </div>
    </section>
    </div>

