<% if (title) { %>
    <h1><%= title %></h1>
    <% if (typeof message !== "undefined") { %>
      <p class="flash-message"><%= message %></p>
    <% } %>
    <% } else {
      res.redirect('/')
    } %>

<%- grid %>