<% if (title) { %>
    <h1><%= title %></h1>

    <% if (messages && messages.notice) { %>
      <p class="flash-message"><%= messages.notice %></p>
    <% } %>
    
    <% } else {
      res.redirect('/')
    } %>

<%- grid %>