<main>
  <h1>Inventory Management</h1>
    <% if (typeof message !== "undefined") { %>
      <p class="flash-message"><%= message %></p>
    <% } %>
  
  
      <ul id="nav-list">
        <li><a href="/inv/add-classification">Add Classification</a></li>
        <li><a href="/inv/add-inventory">Add Inventory</a></li>
      </ul>
  
  
</main>
  